.form {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.success {
  color: #4caf50;
  font-weight: bold;
  margin-bottom: 10px;
}
h1{
  text-align: center;
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}

input {
  width: 100%;
  padding: 8px;
  margin-bottom: 15px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

p {
  color: #ff0000;
  margin: 0;
  font-size: 0.9em;
}

.btn {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 15px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
  font-size: 16px;
  margin-top: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  transition: background-color 0.3s ease;
}

.btn:hover {
  background-color: #45a049;

}

.success-message {
  color: #4caf50;
  font-weight: bold;
  font-size: 30px;
  margin-bottom: 10px;
  text-align: center;
}

  





















  






















